{:deps  {org.clojure/clojure       {:mvn/version "1.10.0"}
         org.clojure/clojurescript {:mvn/version "1.10.520"}
         com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
 :paths ["src" "resources" "target"]}